/*
 *	Ruleset
 */
/*
 *	Page style
 */
body {
  background-color: #1b1c1d;
}
body .ui.basic.segment {
  background-color: #FFF;
}
body .ui.top.segment {
  padding-top: 6em;
}
body .ui.main.segment {
  padding-bottom: 3em;
}
body .nopadding.segment {
  padding: 0;
}
body .ui.form {
  margin-bottom: 1em;
}
body .ui.form .field > .hint {
  font-style: italic;
  font-size: smaller;
  color: #A5673F;
  margin-top: 0.5em;
}
body .ui.form .field {
  text-align: left;
}
body .ui.menu.fixed {
  z-index: 1001;
}
body .ui.menu.fixed .header.item i.icon {
  margin-right: 0.5em;
}
body .ui.menu.fixed .ui.logo.image {
  width: 28px;
  height: auto;
  margin-right: 7px;
}
body .ui.footer.segment {
  padding: 2em 0em;
}
body .ui.footer .logo.icon {
  font-size: 2em;
}
body .ui.footer .logo.header {
  margin-top: 0.5em;
}
body .ui.footer .ui.logo.image {
  margin: auto;
}
body .ui.header.inline {
  display: inline-block;
}
body .ui.icon.small.message > .icon:not(.close) {
  font-size: 1.5em;
}
body.homepage .ui.segment.article,
body.download .ui.segment.article {
  padding-top: 3em;
}
body.homepage .ui.segment.article .header,
body.download .ui.segment.article .header {
  margin-bottom: 0;
}
body.homepage .ui.segment.article .meta,
body.download .ui.segment.article .meta {
  margin-top: 0;
}
body.homepage .ui.container.pagination,
body.download .ui.container.pagination {
  margin-top: 3em;
  margin-bottom: 5em;
}
body.login {
  background-color: black;
}
body.login > .grid {
  height: 100%;
}
body.login .image {
  margin-top: -100px;
}
body.login .column {
  max-width: 450px;
}
.mahasiswa-pelaksanaan h1.header {
  margin-bottom: 3rem;
}
.mahasiswa-pelaksanaan .aktivitas-harian .table-container {
  max-height: 47em;
  overflow-y: auto;
  margin-bottom: 1em;
}
.mahasiswa-pelaksanaan .komentar .ui.comments {
  margin-top: 0;
}
.mahasiswa-pelaksanaan .komentar .ui.comments .reply.form {
  margin-top: 0;
}
.mahasiswa-pelaksanaan .komentar .ui.comments .reply.form textarea {
  height: 6em;
}
.mahasiswa-pelaksanaan .komentar .ui.comments .reply.form .field {
  margin-bottom: 0.3em;
}
.mahasiswa-pelaksanaan .komentar .ui.comments .body {
  overflow-y: auto;
  max-height: 45em;
}
body.mahasiswa-selesai .main.segment .grid.container {
  height: 25em;
}
body.admin-peserta .peserta-detail .pelaksanaan .table-container {
  max-height: 47em;
  overflow-y: auto;
  margin-bottom: 1em;
}
body.admin-peserta .peserta-detail .pelaksanaan .ui.comments {
  margin-top: 0;
}
body.admin-peserta .peserta-detail .pelaksanaan .ui.comments .reply.form {
  margin-top: 0;
}
body.admin-peserta .peserta-detail .pelaksanaan .ui.comments .reply.form textarea {
  height: 6em;
}
body.admin-peserta .peserta-detail .pelaksanaan .ui.comments .reply.form .field {
  margin-bottom: 0.3em;
}
body.admin-peserta .peserta-detail .pelaksanaan .ui.comments .body {
  overflow-y: auto;
  max-height: 45em;
}
body.dosen-peserta-bimbingan .peserta-detail .pelaksanaan .aktivitas-harian {
  max-height: 47em;
  overflow-y: auto;
  margin-bottom: 1em;
}
body.dosen-peserta-bimbingan .peserta-detail .pelaksanaan .ui.comments {
  margin-top: 0;
}
body.dosen-peserta-bimbingan .peserta-detail .pelaksanaan .ui.comments .reply.form {
  margin-top: 0;
}
body.dosen-peserta-bimbingan .peserta-detail .pelaksanaan .ui.comments .reply.form textarea {
  height: 6em;
}
body.dosen-peserta-bimbingan .peserta-detail .pelaksanaan .ui.comments .reply.form .field {
  margin-bottom: 0.3em;
}
body.dosen-peserta-bimbingan .peserta-detail .pelaksanaan .ui.comments .body {
  overflow-y: auto;
  max-height: 45em;
}
body.dosen-peserta-bimbingan .peserta-detail .pelaksanaan .komentar .ui.comments {
  margin-left: auto;
  margin-right: auto;
}
body.dosen-peserta-bimbingan .peserta-detail .peserta-tahapan {
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: .28571429rem;
}
body.mahasiswa-inisialisasi-terimakasih .ui.grid {
  height: 25em;
}
body.mahasiswa-inisialisasi-terimakasih .ui.grid .header {
  margin-bottom: 1em;
}
